In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read the data
df = pd.read_csv('./data/nycflights13.csv',sep=',')
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [3]:
df1 = df.rename(columns={   'dep_time':'departure_time',
                            'arr_time':'arrive_time',
                            'arr_delay':'arrive_delay',
                            'des':'destination'})
df1.columns

Index(['year', 'month', 'day', 'departure_time', 'dep_delay', 'arrive_time',
       'arrive_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [4]:
#Filtering dataset
#'JFK' will be the airport
airportFilterVal = 'BOS'
#Making the filter if destination is JFK or if the origin is JFK
airportFilter = (df['dest']==airportFilterVal) | (df['origin']==airportFilterVal)
#Using the filter in the dataset
df2 = df[airportFilter]
#Show the last 10 rows of the dataset filtered
df2.tail(10)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
336673,2013,9,30,1955.0,-5.0,2112.0,-2.0,US,N957UW,2162,LGA,BOS,35.0,184,19.0,55.0
336687,2013,9,30,2009.0,0.0,2126.0,-3.0,UA,N77258,1049,EWR,BOS,38.0,200,20.0,9.0
336690,2013,9,30,2010.0,-5.0,2100.0,-25.0,B6,N249JB,418,JFK,BOS,35.0,187,20.0,10.0
336700,2013,9,30,2022.0,-3.0,2127.0,-13.0,AA,N3CUAA,2314,JFK,BOS,37.0,187,20.0,22.0
336705,2013,9,30,2030.0,-15.0,2141.0,-12.0,B6,N266JB,2680,EWR,BOS,38.0,200,20.0,30.0
336715,2013,9,30,2041.0,-4.0,2147.0,-21.0,DL,N359NB,985,JFK,BOS,37.0,187,20.0,41.0
336728,2013,9,30,2055.0,-4.0,2158.0,-13.0,UA,N16701,1066,EWR,BOS,40.0,200,20.0,55.0
336729,2013,9,30,2057.0,-3.0,2149.0,-22.0,US,N953UW,2164,LGA,BOS,35.0,184,20.0,57.0
336755,2013,9,30,2149.0,-7.0,2245.0,-23.0,UA,N813UA,523,EWR,BOS,37.0,200,21.0,49.0
336768,2013,9,30,2307.0,12.0,2359.0,1.0,B6,N565JB,718,JFK,BOS,33.0,187,23.0,7.0

In [5]:
#Create hierarchical indexing with the Outgoing and the Incoming flight categories
df3 = df2.set_index(['origin','dest'])
df3.head(10)

             year  month  day  dep_time  dep_delay  arr_time  arr_delay  \
origin dest
JFK    BOS   2013      1    1     559.0        0.0     702.0       -4.0
       BOS   2013      1    1     639.0       -1.0     739.0      -10.0
EWR    BOS   2013      1    1     801.0       -4.0     900.0      -19.0
JFK    BOS   2013      1    1     803.0       -7.0     903.0      -22.0
       BOS   2013      1    1     820.0      -10.0     940.0      -14.0
       BOS   2013      1    1     923.0        4.0    1026.0       -4.0
EWR    BOS   2013      1    1     957.0      144.0    1056.0      123.0
       BOS   2013      1    1    1033.0       16.0    1130.0       -6.0
       BOS   2013      1    1    1154.0       -6.0    1253.0      -13.0
JFK    BOS   2013      1    1    1237.0       -8.0    1340.0      -10.0

            carrier tailnum  flight  air_time  distance  hour  minute
origin dest
JFK    BOS       B6  N708JB    1806      44.0       187   5.0    59.0
       BOS       B6  N805JB    1002      41.0       187   6.0    39.0
EWR    BOS       B6  N206JB    1172      38.0       200   8.0     1.0
JFK    BOS       AA  N3GEAA    1838      38.0       187   8.0     3.0
       BOS       DL  N324US      27      36.0       187   8.0    20.0
       BOS       B6  N580JB    1004      38.0       187   9.0    23.0
EWR    BOS       UA  N534UA     856      37.0       200   9.0    57.0
       BOS       UA  N849UA     779      42.0       200  10.0    33.0
       BOS       B6  N206JB    1174      40.0       200  11.0    54.0
JFK    BOS       AA  N3EGAA    1850      40.0       187  12.0    37.0

In [7]:
#Sorting the flights on delay time in Ascending order (from smallest to greatest)
df4 = df.copy()
df4['total_delay'] = df4['dep_delay'] + df4['arr_delay']
df4 = df4.sort_values(by='total_delay',ascending=True)
df4.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,total_delay
199668,2013,5,7,1715.0,-14.0,1944.0,-86.0,VX,N843VA,193,EWR,SFO,315.0,2565,17.0,15.0,-100.0
211124,2013,5,20,719.0,-16.0,951.0,-79.0,VX,N840VA,11,JFK,SFO,316.0,2586,7.0,19.0,-95.0
113633,2013,2,3,2022.0,-33.0,2240.0,-58.0,DL,N612DL,1715,LGA,MSY,162.0,1183,20.0,22.0,-91.0
195401,2013,5,3,616.0,-14.0,803.0,-70.0,US,N507AY,195,JFK,PHX,266.0,2153,6.0,16.0,-84.0
194012,2013,5,1,1550.0,-20.0,1704.0,-63.0,9E,N918XJ,3400,JFK,MKE,98.0,745,15.0,50.0,-83.0

In [8]:
#Reindex the rows based on this new order so the index
df4.reset_index()
df5 = df4.reset_index().drop('index',axis=1)
df5.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,total_delay
0,2013,5,7,1715.0,-14.0,1944.0,-86.0,VX,N843VA,193,EWR,SFO,315.0,2565,17.0,15.0,-100.0
1,2013,5,20,719.0,-16.0,951.0,-79.0,VX,N840VA,11,JFK,SFO,316.0,2586,7.0,19.0,-95.0
2,2013,2,3,2022.0,-33.0,2240.0,-58.0,DL,N612DL,1715,LGA,MSY,162.0,1183,20.0,22.0,-91.0
3,2013,5,3,616.0,-14.0,803.0,-70.0,US,N507AY,195,JFK,PHX,266.0,2153,6.0,16.0,-84.0
4,2013,5,1,1550.0,-20.0,1704.0,-63.0,9E,N918XJ,3400,JFK,MKE,98.0,745,15.0,50.0,-83.0